<table border="1"> 
  <tr>
    <th>Booking Location</th>
    <th>Master Status</th>
    <th>Process Status</th>
    <th>Product/ Deal Type</th>
    <th>Trade Directive Message</th>
  </tr>
  <tr>
    <td (click)="showPanel(0)"[ngClass]="tableDataStructure[0].color">Not parti</td>
    <td (click)="showPanel(2)"[ngClass]="tableDataStructure[2].color">Any</td>
    <td (click)="showPanel(5)"[ngClass]="tableDataStructure[5].color">Any</td>
    <td (click)="showPanel(9)"[ngClass]="tableDataStructure[9].color">CD & LT</td>
    <td (click)="showPanel(9,false)"[ngClass]="tableDataStructure[9].color">Trading allowed</td>
  </tr>
  <tr>
    <td (click)="showPanel(1)"[ngClass]="tableDataStructure[1].color" rowspan="7">Parti</td>
    <td (click)="showPanel(3)"[ngClass]="tableDataStructure[3].color" rowspan="4">Kuch bada text</td>
    <td (click)="showPanel(6)"[ngClass]="tableDataStructure[6].color" rowspan="2">doc</td>
    <td (click)="showPanel(10)"[ngClass]="tableDataStructure[10].color">CD & LT</td>
    <td (click)="showPanel(10, false)"[ngClass]="tableDataStructure[10].color">Not allowed</td>
  </tr>
  <tr>
    <td (click)="showPanel(11)"[ngClass]="tableDataStructure[11].color">Others</td>
    <td (click)="showPanel(11, false)"[ngClass]="tableDataStructure[11].color">Trading allowed</td>
  </tr>
  <tr>
    <td (click)="showPanel(7)"[ngClass]="tableDataStructure[7].color" rowspan="2">doc</td>
    <td (click)="showPanel(12)"[ngClass]="tableDataStructure[12].color">CD & LT</td>
    <td (click)="showPanel(12, false)"[ngClass]="tableDataStructure[12].color">Trading allowed</td>
  </tr>
  <tr>
    <td (click)="showPanel(13)"[ngClass]="tableDataStructure[13].color">Others</td>
    <td (click)="showPanel(13, false)"[ngClass]="tableDataStructure[13].color">Trading allowed</td>
  </tr>
  <tr>
    <td (click)="showPanel(4)"[ngClass]="tableDataStructure[4].color" rowspan="2">Blank</td>
    <td (click)="showPanel(8)"[ngClass]="tableDataStructure[8].color" rowspan="2">Any</td>
    <td (click)="showPanel(14)"[ngClass]="tableDataStructure[14].color">CD & LT</td>
    <td (click)="showPanel(14, false)"[ngClass]="tableDataStructure[14].color">Not allwoed</td>
  </tr>
  <tr>
    <td (click)="showPanel(15)"[ngClass]="tableDataStructure[15].color">Others</td>
    <td (click)="showPanel(15, false)"[ngClass]="tableDataStructure[15].color">Allowed</td>
  </tr>
</table>

{{nodeValue}}
{{nodeDescription}}
{{nodeOutput}}