<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<!-- <div *ngFor="let array of sampleArray">
  <mat-form-field>
    <mat-select placeholder="Favorite food" (selectionChange)="select($event)">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button mat-button (click)="add()">Add</button>
<button mat-button (click)="reset()">reset</button>

<mat-tab-group>
  <mat-tab *ngFor="let tabs of tabArray, let i = index" label="i">{{tabs.value}}</mat-tab>
</mat-tab-group> -->
<!-- {{sampleAbc}}
<input type="checkbox" (change)="sample($event)">Akshat
{{sampleDef}}

<div *ngFor= "let object of sampleArray, let i = index">
  <mat-form-field>
    <mat-select placeholder="Favorite food" (selectionChange)="select($event, i)">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<button mat-button (click)="add()">Add</button>
<button mat-button (click)="reset()">reset</button>
{{sampleEfg}}

<mat-tab-group>
  <mat-tab *ngFor="let tabs of tabArray" label="Legs {{tabs.legno}}">{{tabs.value}}</mat-tab>
</mat-tab-group>

<form [formGroup]="sampleForm">
  <mat-form-field>
    <input class="form-control" formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-child1></app-child1>
</form>

<p>Form status: {{ sampleForm.status | json }}</p>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
<!-- <div [innerHTML]="nodeOutput"></div> -->



<!-- <mat-icon svgIcon="icon_label"></mat-icon> -->

<!-- <input [formControl]="formControl" [disableControl]="true"> -->

<!-- <form [formGroup]="notionalForm">
  <mat-form-field>
    <input class="form-control" formControlName="notional" matInput placeholder="Enter a number" disableControl>
  </mat-form-field>
  <mat-form-field>
    <input class="form-control" formControlName="startDate" matInput placeholder="Enter a start date" dateFormat [dateType]="'startDate'" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input class="form-control" formControlName="endDate" matInput placeholder="Enter a end date" dateFormat [dateType]="'endDate'" [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</form>

<form [formGroup]="disableCondition">
  <mat-form-field>
    <mat-select placeholder="Product" formControlName="product" (change)="productChange($event)">
      <mat-option *ngFor="let product of products" [value]="product.value">
        {{ product.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <label>singleUnderlier</label>
    <mat-radio-group formControlName="singleUnderlier" (change)="singleUnderlierChange($event)" [disableControl]="!dca.singleUnderlier">
    <mat-radio-button  value="yes">Yes</mat-radio-button>
    <mat-radio-button  value="no">No</mat-radio-button>
  </mat-radio-group><br>

  <div [ngClass]="{myClass: !dca.underlierSecurityVisibilty}"> 
      <label>underlierSecurity</label>
      <mat-radio-group formControlName="underlierSecurity" [disableControl]="!dca.underlierSecurity" (change)="underlierSecurityChange($event)">
        <mat-radio-button  value="yes">Yes</mat-radio-button>
        <mat-radio-button  value="no">No</mat-radio-button>
      </mat-radio-group><br>
    
      <label>underlierType</label>
      <mat-radio-group formControlName="underlierType" [disableControl]="!dca.underlierType">
        <mat-radio-button  value="index">Index</mat-radio-button>
        <mat-radio-button  value="nonIndex">Non Index</mat-radio-button>
      </mat-radio-group><br>
  </div>

  <div [ngClass]="{myClass : dca.underlierSecurityVisibilty}">
      <label>UnderLier 1</label>
      <mat-radio-group formControlName="underlier1" [disableControl]="!dca.underlier1">
        <mat-radio-button  value="yes">Yes</mat-radio-button>
        <mat-radio-button  value="no">No</mat-radio-button>
      </mat-radio-group><br>
    
      <label>UnderLier 2</label>
      <mat-radio-group formControlName="underlier2" [disableControl]="!dca.underlier2">
          <mat-radio-button  value="yes">Yes</mat-radio-button>
          <mat-radio-button  value="no">No</mat-radio-button>
      </mat-radio-group><br>
  </div>

  <label>inverseUnderlier</label>
  <mat-radio-group formControlName="inverseUnderlier" [disableControl]="!dca.inverseUnderlier">
    <mat-radio-button  value="yes">Yes</mat-radio-button>
    <mat-radio-button  value="no">No</mat-radio-button>
  </mat-radio-group><br>

  <mat-form-field>
    <input matInput formControlName="delta" placeholder="Delta" appDeltaDir>
  </mat-form-field><br>
  
  <button mat-button (click)="submit()">Submit</button>

  <button class="abcd" mat-button (click)="abc = !abc">Service</button>

  <div  (clickOutside)="abc = false" [exclude]="'button.abcd'" *ngIf="abc">My element</div>
  (clickOutside)="onClickedOutside($event)"
</form> -->

<form [formGroup]="LegsForm">
  <div formArrayName="legs" *ngFor="let leg of LegsForm.get('legs').controls; let i = index;">
    <div [formGroupName]="i">
      {{i + 1}}
      <input type="hidden" formControlName="legNo" [ngModel]="i+1">
      <mat-form-field>
        <mat-select placeholder="Leg Type" formControlName="legs" (change)="setBlock($event,i)">
          <mat-option *ngFor="let legType of LegTypes" [value]="legType">
            {{ legType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Block Type" formControlName="blocks">
          <mat-option *ngFor="let blockType of BlockTypes" [value]="blockType">
            {{ blockType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <button mat-button (click)="removeLeg(i)">Remove Leg</button> -->
    </div>
  </div>
  <button mat-button (click)="addLeg()">Add Leg</button>
  <button mat-button (click)="submit()">Submit</button>
  <button mat-button (click)="reset()">Reset</button>
  <button mat-button (click)="disable()">Disable</button>
  <mat-form-field>
    <input matInput formControlName="delta" placeholder="Delta">
  </mat-form-field><br>
  <mat-form-field>
    <input class="form-control" formControlName="startDate" matInput placeholder="Enter a start date" dateFormat [dateType]="'startDate'" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input class="form-control" formControlName="endDate" matInput placeholder="Enter a end date" dateFormat [dateType]="'endDate'" [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <input type="checkbox" formControlName="isChecked" (change)="checkboxChange($event)">
</form>

<div *ngIf="LegsForm.errors?.invalidLegLength">
  Oops, only urls served over https and only from the .io top-level domain are accepted.
  Talk about restrictions!
</div>

{{LegsForm.value | json}}
{{LegsForm.valid}}
{{sampleDiff}}

<div  (clickOutside)="abc = false" [exclude]="'button.abcd'" *ngIf="abc">My element</div>
<button class="abcd" mat-button (click)="abc = !abc">Service</button>

<br>
<br>

<form [formGroup]="RatesForm">
  <mat-tab-group>
    <mat-tab formArrayName="rates" *ngFor="let rate of RatesForm.get('rates').controls | sort: 'legNo'; let i = index;" label="Leg {{tabs[i].legNo}}">
      <div [formGroupName]="i">
          <app-child1 [index]="i" [group]="RatesForm.get('rates').controls[i]"></app-child1>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>

<!-- Give value to appColor
  Enter the converter name in String in converterName
  If the converter has 'contain' function, then enter contain in strings(quotes), else dont enter
-->
<span [appColor]="LegsForm.get('delta').value" [converterName]="'Type1Converter'" [converterType]="'contain'">{{LegsForm.value | json}}</span>



<!-- <button (click)="isChecked = !isChecked">toggle</button> -->


<!-- <form [formGroup]="DealDetailForm">
  <mat-tab-group>
    <mat-tab [formArrayName]="assetClassName" 
      *ngFor="let rate of DealDetailForm.get(assetClassName).controls | sort: 'legNo'; let i = index;" 
      label="Leg {{tabs[i].legNo}}">
      <div [formGroupName]="i">
        <div *ngIf="(dynamicApiName == 'RATES')">
            <rate-deal-detail [index]="i" 
              [group]="DealDetailForm.get(assetClassName).controls[i]">
            </rate-deal-detail>
        </div>
        <div *ngIf="(dynamicApiName == 'CREDITS')">
            <credit-deal-detail [index]="i" 
              [group]="DealDetailForm.get(assetClassName).controls[i]">
            </credit-deal-detail>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form> -->